<%- include("partials/bodyheader"); -%>
<body>
   
  <% if (branchDetails && branchDetails.length > 0) { %>   
    <div style="display: flex;" class="pb-3">
      <h3><%= branchDetails[1].bank_name %></h3>
      <h4 class="ms-3 mt-1">No.of branches <%= branchNos %></h4>
    </div> 
  
  
  <div>
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">IFSC Code</th>
          <th scope="col">Branch Name</th>
          <th scope="col"> Bank Id</th>
          <th scope="col">Address</th>
          <th scope="col">City</th>
          <th scope="col">District</th>
          <th scope="col">State</th>
        </tr>
      </thead>
      <tbody>
        <% branchDetails.forEach(function(item) { %>
          <tr>
            <th scope="row"><%= item.ifsc %></th>
            <td><%= item.branch %></td>
            <td><%= item.bank_id %></td>
            <td><%= item.address %></td>
            <td><%= item.city %></td>
            <td><%= item.district %></td>
            <td><%= item.state %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  <% }else{ %>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">OOPS! </h1>
        <p class="lead">No data found.<br>Please ensure your input is spelled correctly and try again.</p>


       
      </div>
    </div>
  <% } %>
</body>



